# Carod params
CAROD = $(SBIN)/carod
CAROD_LOG = $(LOG)/CaroLog
MAX_CAROD_LOG = 1000000
CAROD_BROKER_IP = <broker ip>
CAROD_BROKER_PORT = 5672
CAROD_BROKER_QUEUE = grid
CAROD_IP = 127.0.0.1
CAROD_PORT = 10000
CAROD_QUEUED_CONNECTIONS = 5
CAROD_LEASE_TIME = 35
CAROD_LEASE_CHECK_INTERVAL = 30

# Job Hooks config
JOB_HOOKS_IP = 127.0.0.1
JOB_HOOKS_PORT = $(CAROD_PORT)
JOB_HOOKS_LOG = $(LOG)/JobHooksLog
MAX_JOB_HOOKS_LOG = 10000000

DAEMON_LIST = $(DAEMON_LIST), CAROD

# Startd hooks
LOW_LATENCY_HOOK_FETCH_WORK = $(LIBEXEC)/hooks/hook_fetch_work.py
LOW_LATENCY_HOOK_REPLY_FETCH = $(LIBEXEC)/hooks/hook_reply_fetch.py

# Starter hooks
LOW_LATENCY_JOB_HOOK_PREPARE_JOB = $(LIBEXEC)/hooks/hook_prepare_job.py
LOW_LATENCY_JOB_HOOK_UPDATE_JOB_INFO = $(LIBEXEC)/hooks/hook_update_job_status.py
LOW_LATENCY_JOB_HOOK_JOB_EXIT = $(LIBEXEC)/hooks/hook_job_exit.py

STARTD_JOB_HOOK_KEYWORD = LOW_LATENCY
FetchWorkDelay = ifThenElse(State == "Claimed" && Activity == "Idle", 0, 10)
STARTER_UPDATE_INTERVAL = 30
